openapi: 3.1.0
info:
  title: Laborator Editura VPS Operations
  version: 1.0.0
  description: Controlled VPS operations through the secured Laborator Editura Operations Gateway.

servers:
  - url: https://api.laboratoreditorial.com

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    DeploymentRequest:
      type: object
      additionalProperties: false
      required:
        - ref
      properties:
        ref:
          type: string
          pattern: "^[0-9a-f]{40}$"
    DeploymentApproval:
      type: object
      additionalProperties: false
      required:
        - approvalId
      properties:
        approvalId:
          type: string
          minLength: 1
    ApprovedDeployment:
      type: object
      additionalProperties: false
      required:
        - ref
        - approvalId
      properties:
        ref:
          type: string
          pattern: "^[0-9a-f]{40}$"
        approvalId:
          type: string
          minLength: 1

security:
  - bearerAuth: []

paths:
  /actions/vps-operations/capabilities:
    get:
      operationId: getVpsCapabilities
      summary: List allowed VPS operations
      responses:
        "200":
          description: Allowed read-only and approval-governed VPS operations
        "401":
          description: Unauthorized

  /actions/vps-operations/execute:
    post:
      operationId: executeVpsOperation
      summary: Execute one allowlisted read-only VPS operation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - action
              properties:
                action:
                  type: string
                  enum:
                    - health
                    - ports
                    - nginx-status
                    - disk
                    - git-head
      responses:
        "200":
          description: Operation result
        "400":
          description: Action not allowed
        "401":
          description: Unauthorized

  /actions/vps-operations/request-deploy:
    post:
      operationId: requestDeploymentApproval
      summary: Request approval for an exact source commit deployment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeploymentRequest"
      responses:
        "200":
          description: Deployment approval request recorded
        "400":
          description: Invalid deployment reference
        "401":
          description: Unauthorized

  /actions/vps-operations/approve-deploy:
    post:
      operationId: approveDeployment
      summary: Record authorized human approval for a deployment request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeploymentApproval"
      responses:
        "200":
          description: Deployment request approved
        "400":
          description: Invalid or unavailable approval
        "401":
          description: Unauthorized

  /actions/vps-operations/authorize-deploy:
    post:
      operationId: authorizeApprovedDeployment
      summary: Validate that an approval applies to the exact deployment reference
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApprovedDeployment"
      responses:
        "200":
          description: Deployment is authorized
        "400":
          description: Approval is missing, invalid, expired, or mismatched
        "401":
          description: Unauthorized

  /actions/vps-operations/execute-approved-deploy:
    post:
      operationId: executeApprovedDeployment
      summary: Execute a previously authorized deployment through the controlled agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApprovedDeployment"
      responses:
        "200":
          description: Approved deployment execution result
        "400":
          description: Deployment is not authorized
        "401":
          description: Unauthorized
        "503":
          description: VPS Operations Agent unavailable
